<!doctype html>
<html>

<head>
	<title>My Flask Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_style.css') }}">
</head>

<body>
	<h2>Home Page</h2>
	<a href="/about">go to about</a>
	<br>
	<p>Just to show how to add js in flask</p>
	<button onclick="showTime()">What time is it?</button>
	<p id="time_field"></p>

	<br>
	TOTAL CASES: {{ gl_cs_dths[0][0] }}
	<br>
	TOTAL DEATHS: {{ gl_cs_dths[0][1] }}
	<br>
	<ul>
	{% for item in cnt_cs_dths %}
		<li>{{ item[0] }} has {{ item[1] }} cases and {{ item[2] }} deaths</li>
	{% endfor %}
	</ul>
	<br>

	<form action="{{ url_for('result2') }}" method="post">
		Show  the <input type="number" name="topN" min="3" max="100" value="10"> top countries
		with most corona cases
		<br>
		<input type="submit" value="Show">
	</form>

	<ul>
	{% if request.path == url_for('result2') %}
		{% for item in rlt3 %}
			<li>{{ item[0] }} has {{ item[1] }} Cases and {{ item[2] }} Deaths</li>
		{% endfor %}
	{% endif %}
	</ul>

	<br>
	<br>
	<form action="{{ url_for('result') }}" method="post">
		<label>Choose a country:</label>
		<select name="country">
			{% for item in cntr_nms %}
				<option value={{ item }}>{{ item }} </option>
			{% endfor %}
		</select>
		<br>
		From:<input type="text" name="date1" placeholder="2020-03-12">
		To:<input type="text" name="date2" placeholder="2020-04-24">
		<br>
		<input type="submit" value="Search">
	</form>

	<p>
	{% if request.path == url_for('result') %}
		{{ rlt2[0][0] }} has {{ rlt2[0][1] }} Cases and {{ rlt2[0][2] }} Deaths
	{% endif %}
	</p>

	<ul>
	{% if request.path != url_for('result2') %}
		{% for item in rlt %}
			<li>{{ item }}</li>
		{% endfor %}
	{% endif %}
	</ul>

	<script src="{{ url_for('static', filename='js/a_js_script.js') }}"></script>
</body>

</html>
